@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

header{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
}

.logo{
    margin-left: 50px;
   
}
.logozinha{
    width: 105px;
}


.menu{
    margin: 35px 80px;
    
   
}


.menu > nav > ul{
    display: flex;
    
}

.menu > nav > ul > li{
    margin: 0 20px;
    list-style-type: none;
    
}


.menu > nav > ul > li > a{
    text-decoration: none;
    color: rgb(0, 0, 0); 
    font-size: 16px;
    padding: 15px;
    border-radius: 15px;
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 28px;
}

.menu > nav > ul > li:hover a{
    border-bottom: 2px solid blueviolet;
    transition: 0.2s;
    background-color: blueviolet;
    color: white;
    border: 2px solid rgb(255, 255, 255);
}

main{
    width: 100%;
    height: 90%;
    background-image: url('../assets/Frame1.png');
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.textAndBtn{
    text-transform: uppercase;
    color: white;
    padding: 100px 20px;
    padding-top: 30%;
}

.textAndBtn h1{
    font-size: 25px;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 2px;
}

.textAndBtn h3{
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    padding-top: 20px;
}

.textAndBtn > a > button{
    width: 190px;
    padding: 8px 10px;
    height: 55px;
    margin: 115px;
    color: white;
    text-transform: uppercase;
    border: 2px solid white;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.textAndBtn > a >button:hover{
    background-color: white;
    color: black;
}

.quemsomos{
    color: black;
    text-align: center;
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quemsomos > h1{
    font-size: 55px;
    margin-bottom: 75px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.quemsomos > p {
    width: 55%;
    height: auto;
    border: 1px solid black;
    text-align: left;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    padding: 60px;
    border-radius: 15px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 6px 8px 4px 3px rgba(0, 0, 0, 0.2);
}

.caminhos{
    width: 100%;
    height: auto;
    background-color: #7711f9;
}
.caminhos{
    color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caminhos > h1{
    font-size: 55px;
    letter-spacing: 2.2px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-top: 120px;
}

.cards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    margin: 0 4%;
    margin-top: 65px;
    justify-content: center;
    
}

.cards h2{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin: 20px;
    color: white;
}

.cardWay{
    width: 21rem;
    height: 500px;
   
    margin: 28px;
    background-color: rgb(255, 255, 255);
    color: black; 
    border-radius: 6px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 4px 4px 8px 1px rgba(184, 184, 184, 0.589);
}

.cardWay > img{
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    height: 200px;
}

.cardWay > h4{
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.cardWay > p{
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    margin: 0 20px;
    font-family: 16px;
}

.cardWay > a > button{
    padding: 10px;
    border-radius: 7px;
    background-color: #7711f9;
    color: white;
    border: none;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 50px;
    cursor: pointer;
}

.cardWay > a > button:hover{
    background-color: white;
    border: 2px solid #7711f9;
    color: black;

}

.spanTec{
    width: 650px;
    height: auto;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #ff0101;
    border-radius: 40px;
    color: #ffffff;
}
.spanFacul{
    width: 650px;
    height: auto;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #01FF08;
    border-radius: 40px;
    color: #ffffff;
}
.spanInter{
    width: 650px;
    height: auto;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #041dff;
    border-radius: 40px;
    color: #ffffff;
}
.spanBolsa{
    width: 650px;
    height: auto;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #FFE300;
    border-radius: 40px;
    color: black;
}
.logozinhafooter{
    width: 75px;
    border-radius: 80px;
    margin-bottom: 5px;
    border: black solid 2px;
    
    
}
footer{
    height: 250px;
    
}

.menu-footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-footer > p{
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align:center;
    color: black;
}

.menu-footer h1{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin: 10px;
    color: black;
}
